.comparisons{ 
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
}

.comparison {
    width: 25%;
    border: 1px dotted black;
    min-width: 200px;
    min-height: 100px;
    p {
        font-size: 24px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    span {
        font-size: 24px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

.text {
    position: absolute;
    left: 72%;
    top: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}



